* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    width: 100%;
    min-height: 70vh;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(to right,black,#164381, #433f79, #164381,#433f79, #180e9c);
}